.home{
    background-color: white;
}
.states{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    /* align-items: flex-end; */
    margin-left: 20%;
    margin-right: 20%;

}

.states p{
    font-size: 17;
}

